<fast-design-system-provider use-defaults design-unit="6">
  <section>
    <fast-text-field
      appearance="filled"
      placeholder=""
      [(ngModel)]="theirId"
      ngDefaultControl
    >
      Their peer id
    </fast-text-field>
    <fast-button appearance="accent" (click)="connect()">
      Connect
    </fast-button>

    <p>Yours: {{ myId }}</p>
    <p>Theirs: {{ _theirId }}</p>

    <fast-text-field
      appearance="filled"
      placeholder=""
      [(ngModel)]="message"
      ngDefaultControl
    >
      Message
    </fast-text-field>
    <fast-button appearance="accent" (click)="send()">
      Send
    </fast-button>
    <p *ngFor="let datum of data">{{ datum }}</p>
  </section>
</fast-design-system-provider>
