<main>
  <mat-form-field>
    <mat-label>Their peer id</mat-label>
    <input matInput type="text" [(ngModel)]="theirId" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="connect()">Connect</button>

  <p>Yours: {{ myId }}</p>
  <p>Theirs: {{ theirId }}</p>

  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput type="text" [(ngModel)]="message" />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="send()">Send</button>
  <p *ngFor="let datum of data">{{ datum }}</p>
</main>
